:root,
:root.light {
  /* Colours */
  --secondary: #B381C6;
  --secondary-accent: #D5B8EA;
  --btn-text: #333333;
  --base: #FFFFFF;

  /* Light theme */
  --bg-accent: #E7E7E7;
  
  --fg: #2B283A;
  --fg-accent: #6B7280;
  --bg: #ECFDF5;

  font-family: 'Inter', sans-serif;
}

:root.dark {
  /* Dark theme */
  --bg-accent: #1F2937;
  
  --fg: #FFFFFF;
  --fg-accent: #D5D4D8;
  --bg: #1F2937; /*#273549;*/

}
/*/////////////////////////////////*/
body {
    margin: 0;
    background-color: #1C1C1C;
    font-family: "Inter", sans-serif;
}

#container {
    min-height: 550px;
    width: 100%;
    max-width: 550px;
    background-color: var(--bg);
    border: 1px solid #1F2937;
    margin: auto;
    /* overflow: hidden; */
}

h1 {
    margin: 83px 0 10px 52px;
    width: 360px;
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: var(--fg);
}

span {
    color: #4ADF86;
    
}

h3 {
    color: var(--fg-accent);
    font-weight: 400;
    font-size: 20px;
    margin-left: 52px;
}

#passwordSettings {
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    color: var(--fg);
}

.button {
    background-color: #10B981;
    margin-top: 51px;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    height: 42px;
    width: 191px;
    padding: 9px, 17px, 9px, 15px;
}

#middleLine {
    border: 1px solid #2F3E53;
    margin: 35px 52px 0 52px; 
}

#inputOne, #inputTwo {
    height: 39px;
    width: 172px;
    background-color: #273549;
    border: none;
    color: #55F991;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* Add Toggle switch */

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #10B981;
    ;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #10B981;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* add copy button inside the input element */

#inputsElements {
  display: flex;
}

#inputOneSection, #inputTwoSection {
  display: flex;
  align-items: center;
  margin: 35px auto;
  border-radius: 7px;
  border: 2px solid #273549;
}

.copy-link-button {
  background: #273549;
  border: none;
  height: 41px;
  cursor: pointer;

}

/* Media query for screen width approximately 420px */
@media screen and (max-width: 420px) {
  h1 {
    margin: 83px auto 0 auto; 
  }
  h3{
    margin-left: 30px;
  }
  #inputOneSection, #inputTwoSection {
    margin-right: 22px;
  }

  #inputsElements {
    display: block;
    margin-left: 30px;
  }

  #inputOne, #inputTwo {
    width: 320px;
  }
}

/* Dark mode toggle */

.btn-theme {
  position: relative;
  font-size: 1.5rem;
  background: var(--bg);
  color: var(--fg-accent);
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  --fa-display: grid;
  place-content: center center;
  top: 10px;
  left: 10px;
}

.rotate {
  -moz-transition: transform .5s linear;
  -webkit-transition: transform .5s linear;
  transition: transform .5s linear;
}

.rotate.triggered {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}


/*Things to get done
- Change Id to class
Done
- Copy button inside de input field
- Copied message when the text are copied to clipboard
- Responsive
- Light/Dark switch
*/