body {
    margin: 0;
    background-color: #1C1C1C;
    font-family: "Inter", sans-serif;
}

#container {
    height: 550px;
    width: 550px;
    background-color: #1F2937;
    border: 1px solid #1F2937;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    margin: 115px 0 10px 52px;
    width: 360px;
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: white;
}

span {
    color: #4ADF86;
    
}

h3 {
    color: #D5D4D8;
    font-weight: 400;
    font-size: 20px;
    margin-left: 52px;
}

#passwordSettings {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    color: white;
}

#numbersElements {
    margin-right: 40px;
}

.button {
    background-color: #10B981;
    margin-left: 52px;
    margin-top: 51px;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    height: 42px;
    width: 191px;
    padding: 9px, 17px, 9px, 15px;
}

#middleLine {
    border: 1px solid #2F3E53;
    margin: 35px 52px 0 52px; 
}

#inputOne, #inputTwo {
    height: 39px;
    width: 172px;
    background-color: #273549;
    border: none;
    color: #55F991;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* Add Toggle switch */

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #10B981;
    ;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #10B981;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  /* Copy link messagge */

  /* .button:before {
    content: "Copied";
    position: absolute;
    top: -45px;
    right: 0px;
    background: #5c81dc;
    padding: 8px 10px;
    border-radius: 20px;
    font-size: 15px;
    display: none;
  }

  .button:after {
    content: "";
    position: absolute;
    top: -20px;
    right: 25px;
    width: 10px;
    height: 10px;
    background: #5c81dc;
    transform: rotate(45deg);
    display: none;
  }

  .button.active:before,
  .button.active:after {
    display: block;
} */


/* add copy button inside the input element */

#inputsElements {
  display: flex;
}

#inputOneSection, #inputTwoSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 35px 0 0 52px;

}

.copy-link-button {
  background: #273549;
  border: none;
  height: 39px;
  cursor: pointer;

}

/*Things to get done
- Copied message when the text are copied to clipboard
- Responsive
- Light/Dark switch
- Change Id to class
Done
- Copy button inside de input field
*/